<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <test name="Groups test">
        <groups>
            <define name="User1">
                <include name="user1"></include>
            </define>
        <define name="User2">
            <include name="user2"></include>
        </define>
        <run>
            <include name="User1"/>
        </run>
    </groups>
    <classes>
        <class name="TestsLesson9.Lesson9Classwork.GroupsTest"></class>
    </classes>
    </test>
</suite>
